.edit-title {
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  background: transparent;
  margin-bottom: 10px;
}

.edit-content {
  width: 100%;
  min-height: 100px;
  border: none;
  outline: none;
  resize: none;
  background: transparent;
  font-size: 15px;
  line-height: 1.5;
}

.color-container {
  position: relative;
}

.color-picker {
  position: absolute;
  bottom: 45px;
  left: 0;

  display: flex;
  gap: 8px;

  padding: 8px;

  background: white;

  border-radius: 10px;

  box-shadow: 0 3px 10px rgba(0, 0, 0, .2);

  z-index: 9999;
}

.color-dot {
  width: 22px;
  height: 22px;
  min-width: 22px;
  min-height: 22px;

  border-radius: 50%;
  border: 1px solid #ccc;

  cursor: pointer;
  display: inline-block;
  padding: 0;
  margin: 0;

  flex-shrink: 0;
}

.color-dot:hover {
  transform: scale(1.15);
}

.note-actions {
  position: relative;
}

.note-actions > button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
  color: #5f6368;
}

.note-actions button:hover {
  color: #202124;
}
